// colors
$photobox: #242526;
$photoboxRGBA: rgba(36, 37, 38, .7);
$light: #ededed;
$lightHex: rgba(237, 237, 237, .5);

// spacing
$gutter: 7px;

//breakpoints
$medium: 650px;
$large: 1000px;

//transitions

$fast: all .5s ease;
$regular: all .75s ease;
$slow: all 1s ease;